.book_section {
    background-color: whitesmoke;
}

.book_detail {
    background-color: whitesmoke;
}

.book_detail h1{
    text-align: center;
    margin-bottom: 20px;
}

.book_price {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
}

.book_detail .container h2, h4 {
    text-align: start;
}

.cart-detail .container .main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.cart-detail .main-box .boxes {
    border: 1px solid black;
    text-align: center;
    padding: 20px 100px;
}

.cart-detail .container .cart-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.cart-detail .cart-items .box {
    height: 100%;
    padding: 20px 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 30px;
}

.profile-img img {
    border-radius: 50%;
}
