<footer class="footer">
    <div class="container py-5">
        <div class="row d-flex align-items-center">
            <div class="col-12">
                <div class="links">
                    <div class="link">
                        <a href="#">FAQ</a>
                        <a href="#">Shipping & Returns Policy</a>
                        <a href="#">About Us</a>
                        <a href="#">Terms and Conditions</a>
                    </div>
                    <div class="social d-flex gap-4">
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-twitter"></i></a>
                    </div>
                </div>
                <div class="email-update">
                    <h2>Stay Updated</h2>
                    <div class="forma">
                        <form class="form-floating">
                            <input type="email" class="form-control" id="floatingInputValue" placeholder="Enter Your Email" >
                            <label for="floatingInputValue">Enter Your Email</label>
                        </form>
                        <button class="btn btn-success">SUBSCRIBE</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>